@keyframes spinner-border {
  100% {
    transform: rotate(360deg);
  }
}
.nav-logo {
  width: 300px !important;
}
.pay-processing {
  color: #383838;
  font-size: 16px;
  font-weight: bold;
  padding-top: 45px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 18px;
}
.spinner-border {
  --bs-spinner-width: 6rem;
  --bs-spinner-height: 6rem;
  --bs-spinner-vertical-align: -0.125em;
  --bs-spinner-border-width: 0.25em;
  --bs-spinner-animation-speed: 0.75s;
  --bs-spinner-animation-name: spinner-border;
  border: var(--bs-spinner-border-width) solid currentcolor;
  border-right-color: transparent;
}

.spinner-border,
.spinner-grow {
  display: inline-block;
  width: var(--bs-spinner-width);
  height: var(--bs-spinner-height);
  vertical-align: var(--bs-spinner-vertical-align);
  border-radius: 50%;
  animation: var(--bs-spinner-animation-speed) linear infinite
    var(--bs-spinner-animation-name);
}

#tc_pay_qrcode_box .qr-loading {
  width: 282px;
  height: 282px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ali-pay-qrcode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ali-pay-qrcode .qr-info {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.ali-pay-qrcode .qr-code {
  position: relative;
  margin-bottom: 20px;
}
.ali-pay-qrcode .qr-code img {
  padding-bottom: 0;
}
.ali-pay-qrcode .qr-code .qr-code-icon {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px;
  border-radius: 2px;
}
.ali-pay-qrcode .qr-code .qr-code-icon .bi-alipay {
  color: rgb(13, 110, 253);
  width: 28px;
  height: 28px;
}
.ali-pay-qrcode .qr-code .qr-scan-success {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ali-pay-qrcode .qr-code .qr-scan-success .qr-scan-success-icon {
  color: #fff;
}
.ali-pay-qrcode
  .qr-code
  .qr-scan-success
  .qr-scan-success-icon
  .bi-check2-circle {
  width: 36px;
  height: 36px;
  color: #fff;
}
